@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap');
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: #F8F8FC;
    font-family: 'Open Sans', sans-serif;
}
main {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-content: center;
    align-items: center;
}